In [6]:
from lsstseries import Ensemble
from lsstseries.utils import ColumnMapper
from lsstseries.analysis import calc_stetson_J

# Sesar 2010 RR Lyrae (Stripe 82) Dataset

This dataset contains 483 RR Lyrae from Sesar 2010. This dataset was sourced from astroml, and then massaged into the parquet format for ingest into TAPE.

## Loading into the TAPE Ensemble

In [11]:
ens = Ensemble()
colmap = ColumnMapper(id_col="#id", time_col="mjd", flux_col="flux", err_col="error", band_col="band")
ens.from_parquet(source_file="../../data/s82_rrlyrae/s82rrl_source.parquet", 
                 object_file= "../../data/s82_rrlyrae/s82rrl_object.parquet",
                 column_mapper=colmap,
                 provenance_label="sesar_2010")

/Users/dbranton/miniforge3/envs/ray310/lib/python3.10/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 63272 instead
  warnings.warn(

In [12]:
ens.compute("source")

                ra       dec           mjd    flux  error band  provenance
#id
4099      0.935679  1.115859  51075.302451  18.039  0.013    u  sesar_2010
4099      0.935679  1.115859  52196.302986  18.536  0.018    u  sesar_2010
4099      0.935679  1.115859  52197.316093 -99.990  0.017    u  sesar_2010
4099      0.935679  1.115859  52225.166255  18.525  0.018    u  sesar_2010
4099      0.935679  1.115859  52231.202038 -99.990  0.015    u  sesar_2010
...            ...       ...           ...     ...    ...  ...         ...
5011634  56.510537 -0.561729  54392.477519  18.388  0.028    z  sesar_2010
5011634  56.510537 -0.561729  54404.451318  18.299  0.033    z  sesar_2010
5011634  56.510537 -0.561729  54406.387574  18.482  0.024    z  sesar_2010
5011634  56.510537 -0.561729  54409.392410  18.229  0.027    z  sesar_2010
5011634  56.510537 -0.561729  54412.413333  18.438  0.051    z  sesar_2010

[142245 rows x 7 columns]

In [7]:
ens.batch(calc_stetson_J)

#id
4099       {'g': 863.1732168925631, 'i': 296.610300259224...
13350      {'g': 1214.3493719143382, 'i': 310.22861589464...
15927      {'g': 403.3926356621079, 'i': 74.2188248321956...
20406      {'g': 497.78142153033696, 'i': 964.72291345825...
21992      {'g': 1593.767684772882, 'i': 800.328890694361...
                                 ...
4956681    {'g': 138.60077184758393, 'i': 44.039882549414...
4983075    {'g': 52.29160241592073, 'i': 49.7554488763448...
4984662    {'g': 450.20697853702836, 'i': 47.514103558278...
4992418    {'g': 365.7866944420075, 'i': 65.2748625271253...
5011634    {'g': 75.33388747254226, 'i': 43.7241409898109...
Name: #id, Length: 483, dtype: object